<div class="p-10 flex items-center justify-center">
  <div>
    {% form 'storefront_password' %}
    {{ form.errors | default_errors }}
    <div class="input-group">
      <input type="password" name="password" id="password" class="border p-2 rounded" placeholder="Store Password"
        autofocus>
        <button
          type="submit"
          class="block border rounded mt-3 p-3 bg-purple-700"
        >
          Login
        </button>
    </div>
    {% endform %}
  </div>
</div>
