<div class="container p-10">
  <div>
    <h1 class="text-3xl text-purple-900">
      Shopify Theme Lab 🧪
    </h1>

    <p class="my-3">
      Customizable modular development environment for blazing-fast Shopify theme creation.
    </p>

    <div class="shopify-theme-lab__examples">

      <div vue-app="sfc-example"></div>

      <div vue-app="renderless-example">
        <renderless-test v-slot="{ store, localCount, localIncrement }">
          <div class="border p-3">
            {% raw %}
            <p>Store: {{ store.count * 2 }}</p>
            <p></p>Local: {{ localCount }}</p>
            {% endraw %}
            <p>
              <button @click="localIncrement">
                increment local
              </button>
            </p>
            <p>
              <button @click="store.increment">
                increment store
              </button>
            </p>
          </div>
        </renderless-test>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Vue examples",
  "class": "vue-section",
  "presets": [
    {
      "name": "Vue examples"
    }
  ]
}
{% endschema %}
